body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #707070;
}

.Main_container {
  display: flex;
  height: 100vh;
}

.Preview_wrapper {
  flex-basis: 75%;
  background-color: #F1F1F1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}
.Preview {
  background-color: #3ECF8E; 
  height: 300px;
  width: 300px;
  padding: 0;
  overflow: hidden;
}
.Preview_img {
  height: 100%;
  width: 100%;
}

.Logo {
  height: 100px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.Sidebar {
  flex-basis: 25%;
  background-color: #ffffff;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.Title {
  font-size: 19px;
  margin: 20px;
}
.Sidebar_item {
  width: 100%;
  min-height: 150px;
  text-align: center;
}
.Open_file_icon {
  color: #3ECF8E; 
  font-size: 60px;
  cursor: pointer;
  width: 100%;
  text-align: center;
}
.Angles_btn {
  height: 60px;
  width: 60px;
  border-radius: 4px;
  box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, 0.2);
  font-size: 10px;
  text-align: center;
  margin: 0 5px;
}

.Sidebar_item_background_content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Color_input {
  height: 35px;
  width: 80px;
  border-radius: 4px;
  cursor: pointer;
}
.Color_icon {
  font-size: 20px;
  color: #32325D;
  margin-right: 10px;
}
.Remove_icon {
  color: red;
  margin: 5px;
  font-size: 15px;
  cursor: pointer;
}

.Submit_btn {
  background-color: #32325D;
  color: #ffffff;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 16px;
}
